wrap-fun-args=false
let-binding-spacing=compact
field-space=tight-decl
break-separators=after
space-around-lists=false
space-around-records=false
space-around-arrays=false
space-around-variants=false
sequence-style=terminator
doc-comments=before
margin=80
module-item-spacing=sparse
parens-tuple=always
parens-tuple-patterns=always
