# CODEOWNERS

# This file declares which users are qualified to review and approve changes to
# specific files or paths in this repository. It helps contributors to identify
# whom to consult for assistance on merge requests.

# To understand the syntax and semantics of this file, see:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
#
# Note that rules defined later in the file take precedence over the rules
# defined earlier.


# ************************************
# Insert code owner declarations here!
# ************************************

/etherlink/tezt                       @jtcoolen @hantang.sun @m-kus
/brassaia                    @mattiasdrp

/irmin                    @mattiasdrp

/src/lib_context_brassaia    @mattiasdrp
/src/lib_context             @mattiasdrp

# SDK Working Group
#
# These users are members of the SDK Working Group, and should review any code changes
# in the following paths.
#
# @emturner = Emma Turner
# @ole.kruger = Ole Krüger
# @lthms = Thomas Letan
# @rodibozman = Rodi-Can Bozman
# @spalmer25 = Palmer Sébastien
/src/kernel_sdk           @emturner @ole.kruger @lthms @rodibozman @spalmer25
/sdk/rust                 @emturner @ole.kruger @lthms @rodibozman @spalmer25
/contrib/sdk-bindings     @emturner @spalmer25

# Octez Merge Team
#
# These users are, as members of the Octez Merge Team, permitted to act as authorities on any code.
#
# @abate = Pietro Abate
# @ACoquereau = Albin Coquereau
# @onurb = Bruno Bernardo
# @dianegalloiswong = Diane Gallois-Wong
# @emturner = Emma Turner
# @eugenz = Eugen Zalinescu
# @felix.puscasu1 = Felix Puscasu
# @iguerNL = Mohamed Iguernlala
# @jobjo = Joel Bjornson
# @julien.sagot.nl = Julien Sagot
# @julien.t = Julien Tesson
# @Killian-Delarue = Killian Delarue
# @lrand = Lucas Randazzo
# @lthms = Thomas Letan
# @MBourgoin = Mathias Bourgoin
# @mattiasdrp = Mattias Roux
# @mebsout = Alain Mebsout
# @murbard = Arthur B.
# @naih = Nicolas Ayache
# @NicVolanschi = Nic Volanschi
# @ole.kruger = Ole Krüger
# @pe.cornilleau = Pierre-Emmanuel Cornilleau
# @phink = Paul Lafourge
# @picdc = Pierrick Couderc
# @polubelova = Marina Polubelova
# @rafoo_ = Raphaël Cauderlier
# @rodibozman = Rodi-Can Bozman
# @romain.nl = Romain
# @ryan.tan3 = Ryan Tan
# @Saroupille = François Thiré
# @sribaroud = Sylvain R.
# @vch9 = Valentin Chaboche
# @vect0r = Victor Allombert
# @victor-dumitrescu = Victor Dumitrescu
# @yrg = Yann Regis-Gianas
# @4dam = Adam Allombert-Goget
# @gabriel.moise = Gabriel Moise
#
* @abate @ACoquereau @onurb @dianegalloiswong @emturner @eugenz @felix.puscasu1 @iguerNL @jobjo @julien.sagot.nl @julien.t @Killian-Delarue @lrand @lthms @MBourgoin @mattiasdrp @mebsout @murbard @naih @NicVolanschi @ole.kruger @pe.cornilleau @phink @picdc @polubelova @rafoo_ @rodibozman @romain.nl @ryan.tan3 @Saroupille @sribaroud @vch9 @vect0r @victor-dumitrescu @yrg @4dam @gabriel.moise

# CODEOWNERS Owners
#
# These users are authorized to change authorizations.
#
# Note that this stanza MUST appear LAST so that it takes precedence over prior rules.
#
/CODEOWNERS         @murbard @romain.nl
/docs/CODEOWNERS    @murbard @romain.nl
/.gitlab/CODEOWNERS @murbard @romain.nl
