services:
  octez-node:
    container_name: octez-node-box
    image: tezos/tezos-bare:latest
    hostname: octez-node
    command: octez-node run --data-dir /var/run/tezos/node/data
    ports:
      - 9732:9732
      - 8732:8732
    volumes:
      - node_data:/var/run/tezos/node
      - client_data:/var/run/tezos/client
    restart: on-failure

  octez-dal:
    container_name: octez-dal-box
    image: tezos/tezos-bare:latest
    hostname: octez-dal
    command: octez-dal-node run --endpoint http://octez-node:8732 --attester-profile=$BAKER_ADDRESS
    volumes:
      - client_data:/var/run/tezos/client
      - node_data:/var/run/tezos/node
    restart: on-failure

  octez-baker:
    container_name: octez-baker-box
    image: tezos/tezos-bare:latest
    hostname: octez-baker
    command: octez-baker --base-dir /var/run/tezos/node/data --endpoint http://octez-node:8732 run with local node /var/run/tezos/node/data --liquidity-baking-toggle-vote $LIQUIDITY_BAKING_VOTE --dal-node http://octez-dal:10732
    volumes:
      - client_data:/var/run/tezos/client
      - node_data:/var/run/tezos/node
    restart: on-failure

  octez-accuser:
    container_name: octez-accuser-box
    image: tezos/tezos-bare:latest
    hostname: octez-accuser
    command: octez-accuser --base-dir /var/run/tezos/node/data --endpoint http://octez-node:8732 run
    volumes:
      - client_data:/var/run/tezos/client
      - node_data:/var/run/tezos/node
    restart: on-failure

volumes:
  node_data: {}
  client_data: {}
