[workspace]
resolver = "3"
members = ["api"]

[workspace.lints.clippy]
allow_attributes = "deny"
allow_attributes_without_reason = "deny"

[workspace.lints.rustdoc]
broken_intra_doc_links = "deny"
private_intra_doc_links = "allow"

[workspace.dependencies]
arbitrary-int = "1.2.7"
num_enum = "0.7.2"
ocaml-build = "1.0.0"
sha2 = "0.10.9"

[workspace.dependencies.strum]
version = "0.26.1"
features = ["derive"]

[workspace.dependencies.octez-riscv]
# The locked version can be updated via `make update-riscv-pvm`
git = "https://github.com/tezos/riscv-pvm.git"

[workspace.dependencies.ocaml]
version = "1.2.1"
default-features = false

[workspace.dependencies.ocaml-sys]
# We don't care about the version. Ideally this gets pinned to what `ocaml` needs.
version = "*"
default-features = false

[workspace.dependencies.ocaml-boxroot-sys]
# We don't care about the version. Ideally this gets pinned to what `ocaml` needs.
version = "*"
default-features = false
