[package]
name = "tezos-bindings"
version = "0.1.0"
edition = "2021"

[lib]
name = "tezos"
crate-type = [ "lib", "cdylib", "staticlib" ]

[[bin]]
name = "uniffi-bindgen"
path = "src/uniffi-bindgen.rs"

[dependencies]
tezos_crypto_rs = { path = "../../../sdk/rust/crypto", default-features = false, features = [
  "bls",
] }
tezos_data_encoding = { path = "../../../sdk/rust/encoding" }
tezos-protocol = { path = "../../../sdk/rust/protocol" }
mir = { path = "../../mir" }
uniffi = { version = "0.29", features = [ "cli" ] }
thiserror = "1.0"
paste = "1.0.15"
num-bigint = { version = "0.4.6", default-features = false }

[dev-dependencies]
uniffi = { version = "0.29", features = [ "build" ] }
hex = "0.4"
