[workspace]
members = ["bench", "kernel"]
resolver = "2"

[patch.crates-io]
tezos-smart-rollup = { path = "../../kernel_sdk/sdk" }
tezos-smart-rollup-host = { path = "../../kernel_sdk/host" }
tezos-smart-rollup-core = { path = "../../kernel_sdk/core" }
tezos-smart-rollup-mock = { path = "../../kernel_sdk/mock" }
tezos-smart-rollup-encoding = { path = "../../kernel_sdk/encoding" }
tezos-smart-rollup-entrypoint = { path = "../../kernel_sdk/entrypoint" }
tezos-smart-rollup-debug = { path = "../../kernel_sdk/debug" }
tezos-smart-rollup-panic-hook = { path = "../../kernel_sdk/panic-hook" }
tezos-smart-rollup-storage = { path = "../../kernel_sdk/storage" }
# Patches from the jstz repo are dropped, copying them here
boa_ast = { git = "https://github.com/trilitech/boa.git", branch = "ryutamago/fix-undefined-to-json" }
boa_engine = { git = "https://github.com/trilitech/boa.git", branch = "ryutamago/fix-undefined-to-json" }
boa_gc = { git = "https://github.com/trilitech/boa.git", branch = "ryutamago/fix-undefined-to-json" }
boa_interner = { git = "https://github.com/trilitech/boa.git", branch = "ryutamago/fix-undefined-to-json" }
boa_macros = { git = "https://github.com/trilitech/boa.git", branch = "ryutamago/fix-undefined-to-json" }
boa_parser = { git = "https://github.com/trilitech/boa.git", branch = "ryutamago/fix-undefined-to-json" }
boa_profiler = { git = "https://github.com/trilitech/boa.git", branch = "ryutamago/fix-undefined-to-json" }

[workspace.dependencies]
base64 = "0.22.0"
http = "1.1.0"
bincode = "1.3.3"
regex = "1.10.4"
serde_json = "1.0.115"

[workspace.dependencies.tezos-smart-rollup]
version = "0.2.2"
default-features = false
features = [
  "std",
  "crypto",
  "panic-hook",
  "data-encoding",
  "proto-alpha",
  "experimental-host-in-memory-store",
  "extra",
  "native-kernel",
]

[workspace.dependencies.jstz_kernel]
git = "https://github.com/jstz-dev/jstz.git"
rev = "5d3fc13e004ce2c23eb13fe7f0ea08571e1b8a70"

[workspace.dependencies.jstz_crypto]
git = "https://github.com/jstz-dev/jstz.git"
rev = "5d3fc13e004ce2c23eb13fe7f0ea08571e1b8a70"

[workspace.dependencies.jstz_proto]
git = "https://github.com/jstz-dev/jstz.git"
rev = "5d3fc13e004ce2c23eb13fe7f0ea08571e1b8a70"

[workspace.dependencies.serde]
version = "1.0.197"
features = ["derive"]

[workspace.dependencies.hex]
version = "0.4.3"
features = ["serde"]

[workspace.dependencies.clap]
version = "4.4.6"
features = ["derive"]

[workspace.dependencies.tezos_crypto_rs]
version = "0.5.2"
default-features = false

[workspace.dependencies.tezos_data_encoding]
version = "0.5.2"
default-features = false
