[package]
name = "riscv-sandbox"
version = "0.0.0"
edition = "2021"

[[bin]]
name = "riscv-sandbox"
path = "src/main.rs"

[dependencies]
clap.workspace = true
color-eyre.workspace = true
comfy-table.workspace = true
crossterm.workspace = true
derive_more.workspace = true
ed25519-dalek.workspace = true
enum-tag.workspace = true
goblin.workspace = true
hex.workspace = true
itertools.workspace = true
meansd.workspace = true
numfmt.workspace = true
quanta.workspace = true
ratatui.workspace = true
serde.workspace = true
serde_json.workspace = true
strum.workspace = true
tezos-smart-rollup-constants.workspace = true
tezos-smart-rollup-encoding.workspace = true
tezos-smart-rollup.workspace = true
tezos_crypto_rs.workspace = true
vm-fdt.workspace = true
rustc-demangle.workspace = true

[dependencies.octez-riscv]
path = "../lib"
