# SPDX-FileCopyrightText: 2022-2024 TriliTech <contact@trili.tech>
#
# SPDX-License-Identifier: MIT

[package]
name = "tezos-smart-rollup"
version = "0.2.2"
edition = "2021"
license = "MIT"
authors = ["TriliTech <contact@trili.tech>"]
repository = "https://gitlab.com/tezos/tezos.git"
description = "SDK for Tezos Smart Rollup kernel development."
keywords = ["tezos", "smart", "rollup"]
categories = ["wasm", "encoding", "development-tools"]

[package.metadata.docs.rs]
features = ["testing"]

[dependencies.hex]
version = "0.4"
default-features = false

[dependencies.tezos-smart-rollup-core]
path = "../core"
version = "0.2.2"
default-features = false

[dependencies.tezos-smart-rollup-host]
path = "../host"
version = "0.2.2"
default-features = false

[dependencies.tezos-smart-rollup-debug]
path = "../debug"
version = "0.2.2"

[dependencies.tezos-smart-rollup-encoding]
path = "../encoding"
version = "0.2.2"
default-features = false

[dependencies.tezos-smart-rollup-storage]
path = "../storage"
version = "0.2.2"
optional = true

[dependencies.tezos-smart-rollup-entrypoint]
path = "../entrypoint"
version = "0.2.2"
default-features = false

[dependencies.tezos-smart-rollup-macros]
path = "../macros"
version = "0.2.2"

[dependencies.tezos-smart-rollup-utils]
path = "../utils"
version = "0.2.2"
optional = true

[dependencies.tezos-smart-rollup-mock]
path = "../mock"
version = "0.2.2"
optional = true

[dependencies.tezos_crypto_rs]
workspace = true
optional = true

[dependencies.tezos_data_encoding]
workspace = true
optional = true

[dependencies.tezos-protocol]
workspace = true
optional = true

[dependencies.serde_json]
version = "1.0.115"
optional = true

[build-dependencies.tezos-smart-rollup-build-utils]
path = "../build-utils"

[features]
default = [
    "std",
    "crypto",
    "dlmalloc",
    "panic-hook",
    "data-encoding",
    "storage",
    "bls",
]
crypto = ["dep:tezos_crypto_rs"]
bls = ["tezos-smart-rollup-encoding/bls"]
debug_alloc = ["tezos-smart-rollup-debug/alloc"]
alloc = ["tezos-smart-rollup-entrypoint/alloc", "tezos-protocol"]
dlmalloc = ["tezos-smart-rollup-entrypoint/dlmalloc"]
panic-hook = ["tezos-smart-rollup-entrypoint/default"]
data-encoding = [
  "tezos_data_encoding",
  "tezos-smart-rollup-encoding/alloc",
  "tezos-smart-rollup-encoding/tezos-encoding",
  "tezos-smart-rollup-encoding/crypto",
]
storage = ["tezos-smart-rollup-storage"]
std = ["alloc", "debug_alloc", "tezos-smart-rollup-entrypoint/std"]
testing = ["crypto", "tezos-smart-rollup-mock"]
proto-alpha = [
  "tezos-smart-rollup-core/proto-alpha",
  "tezos-smart-rollup-host/proto-alpha",
  "tezos-smart-rollup-mock/proto-alpha",
]
experimental-host-in-memory-store = [
  "tezos-smart-rollup-entrypoint/proto-alpha",
  "tezos-smart-rollup-entrypoint/experimental-host-in-memory-store",
]
extra = ["alloc", "std", "utils", "dep:serde_json"]
utils = ["dep:tezos-smart-rollup-utils"]
native-kernel = [
    "tezos-smart-rollup-macros/native-kernel",
    "tezos-smart-rollup-entrypoint/native-kernel",
]
