[package]
name = "riscv-dummy"
version = "0.0.0"
edition = "2021"

[dependencies.tezos_crypto_rs]
version = "0.6.0"
path = "../../../sdk/rust/crypto"
default-features = false

[dependencies.tezos-smart-rollup]
path = "../../kernel_sdk/sdk"
version = "0.2.2"
default-features = false
features = [
  "debug_alloc",
  "proto-alpha",
  "panic-hook",
  "data-encoding",
  "alloc",
  "experimental-host-in-memory-store",
]

[dependencies.tezos-smart-rollup-constants]
path = "../../kernel_sdk/constants"

[dependencies]
hex = "0.4.3"

[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2.169"
