# SPDX-FileCopyrightText: 2023 TriliTech <contact@trili.tech>
# SPDX-FileCopyrightText: 2023 Nomadic Labs <contact@nomadic-labs.com>
#
# SPDX-License-Identifier: MIT

[workspace]
resolver = "2"
members = [
  # Kernel Dev
  "constants",
  "core",
  "host",
  "debug",
  "mock",
  "encoding",
  "storage",
  "panic-hook",
  "entrypoint",
  "macros",
  "utils",
  "sdk",
  # UX
  "installer-kernel",
  "installer-client",
  "installer-config",
]
