# SPDX-FileCopyrightText: 2023-2024 TriliTech <contact@trili.tech>
# SPDX-FileCopyrightText: 2023 Nomadic Labs <contact@nomadic-labs.com>
#
# SPDX-License-Identifier: MIT

[workspace]
resolver = "2"
members = [
	# Kernel Dev
	"constants",
	"core",
	"host",
	"debug",
	"mock",
	"encoding",
	"storage",
	"panic-hook",
	"entrypoint",
	"macros",
	"utils",
	"build-utils",
	"sdk",
	"keyspace",
	# UX
	"installer-kernel",
	"installer-client",
	"installer-config",
]

[workspace.dependencies.tezos_crypto_rs]
version = "0.6.0"
path = "../../sdk/rust/crypto"
default-features = false

[workspace.dependencies.tezos_data_encoding]
version = "0.6.0"
path = "../../sdk/rust/encoding"
default-features = false

[workspace.dependencies.tezos-protocol]
version = "0.1.0"
path = "../../sdk/rust/protocol"
default-features = false
