################################################################################
# Project configuration ########################################################
################################################################################

PROJECT_USER=
PROJECT_NAME=

TEZOS_IMAGE=tezos/tezos-bare
TEZOS_TAG=master

RUST_IMAGE=us-central1-docker.pkg.dev/nl-gitlab-runner/protected-registry/tezos/tezos/rust-toolchain
RUST_TAG=master

################################################################################
# Accounts configuration #######################################################
################################################################################

ADMIN_SK=
SEQUENCER_SK=
SMART_ROLLUP_BATCHER1_SK=
SMART_ROLLUP_BATCHER2_SK=
SMART_ROLLUP_BATCHER3_SK=

################################################################################
# Kernel configuration options #################################################
################################################################################

KERNEL_CHAIN_ID=127752
KERNEL_DA_FEE_PER_BYTE=
KERNEL_DAL_SLOTS=
KERNEL_CONTRACT_ADMIN=KT1RaAYL1fqGyVEHk4wnkG94QoQksVfFBkYZ
KERNEL_CONTRACT_DELAYED_BRIDGE=KT1HpURxNzqpSoh7hxy71kWd8mY4uGHz8Xzq
KERNEL_CONTRACT_TICKETER=KT1Bp9YUvUBJgXxf5UrYTM2CGRUPixURqx4m
# etherlink default value
KERNEL_DELAYED_INBOX_MIN_LEVELS=1600
KERNEL_DELAYED_INBOX_TIMEOUT=
# KERNEL_ENABLE_DAL=
# KERNEL_ENABLE_FA_BRIDGE=
# KERNEL_ENABLE_FAST_FA_WITHDRAWAL=
# KERNEL_ENABLE_FAST_WITHDRAWAL=
# KERNEL_ENABLE_MULTICHAIN=
KERNEL_ETH_BOOTSTRAP_ACCOUNT1=0x6ce4d79d4E77402e1ef3417Fdda433aA744C6e1c
KERNEL_ETH_BOOTSTRAP_ACCOUNT2=0xB53dc01974176E5dFf2298C5a94343c2585E3c54
KERNEL_ETH_BOOTSTRAP_ACCOUNT3=0x9b49c988b5817Be31DfB00F7a5a4671772dCce2B
KERNEL_ETH_BOOTSTRAP_ACCOUNT4=0x0ce0Ae67860EF01ec25922c7AC44AA6002A398BA
KERNEL_ETH_BOOTSTRAP_ACCOUNT5=0xAb715b9eA5934449Ca09D516D25f5Df33351de73
KERNEL_ETH_BOOTSTRAP_ACCOUNT6=0xA987795208b323Aba821EF935A5B699853d77d3d
KERNEL_ETH_BOOTSTRAP_BALANCE=
KERNEL_EVM_VERSION=cancun
KERNEL_GOVERNANCE=
KERNEL_ROOT_HASH=
KERNEL_SECURITY_GOVERNANCE=
KERNEL_L2_CHAIN_ID=
KERNEL_MAX_BLUEPRINT_LOOKAHEAD_IN_SECONDS=
KERNEL_MAX_DELAYED_INBOX_BLUEPRINT_LENGTH=
KERNEL_MAXIMUM_ALLOWED_TICKS=
KERNEL_MAXIMUM_GAS_PER_TRANSACTION=
KERNEL_MINIMUM_BASE_FEE_PER_GAS=
KERNEL_SEQUENCER=
KERNEL_SEQUENCER_GOVERNANCE=
KERNEL_SEQUENCER_POOL_ADDRESS=
KERNEL_SET_CODE1=
KERNEL_SET_CODE2=
KERNEL_SET_CODE3=
KERNEL_SET_CODE4=
KERNEL_SET_CODE5=
KERNEL_SET_CODE6=

################################################################################
# Smart Rollup Node configuration options ######################################
################################################################################

SRN_ACL_OVERRIDE=allow-all
SRN_CORS_HEADERS=*
SRN_CORS_ORIGINS=*
SRN_DAL_NODE=
SRN_ENDPOINT=https://rpc.tzkt.io/ghostnet
SRN_HISTORY_MODE=full
SRN_LOG_KERNEL_DEBUG=
SRN_METRICS_ADDR=localhost:9933
SRN_PRE_IMAGES_ENDPOINT=
SRN_RPC_ADDR=0.0.0.0
SRN_RPC_PORT=8932

################################################################################
# EVM Sequencer configuration options ##########################################
################################################################################

EVM_SEQ_RPC_ADDR=0.0.0.0
EVM_SEQ_RPC_PORT=8545
EVM_SEQ_RPC_BATCH_LIMIT=
EVM_SEQ_CORS_HEADERS=*
EVM_SEQ_CORS_ORIGINS=*
EVM_SEQ_MAX_NUMBER_BLOCKS=
EVM_SEQ_MAX_NUMBER_LOGS=
EVM_SEQ_CHUNK_SIZE=
EVM_SEQ_KEEP_ALIVE=
EVM_SEQ_ROLLUP_NODE_ENDPOINT=
EVM_SEQ_TX_POOL_TIMEOUT_LIMIT=
EVM_SEQ_TX_POOL_ADDR_LIMIT=
EVM_SEQ_TX_POOL_TX_PER_ADDR_LIMIT=
# EVM_SEQ_VERBOSE=
EVM_SEQ_RESTRICTED_RPCS=
EVM_SEQ_BLACKLISTED_RPCS=
EVM_SEQ_WHITELISTED_RPCS=
# EVM_SEQ_FINALIZED_VIEW=
EVM_SEQ_PREIMAGES_ENDPOINT=
EVM_SEQ_TIME_BETWEEN_BLOCKS=
EVM_SEQ_MAX_NUMBER_OF_CHUNKS=
EVM_SEQ_PRIVATE_RPC_PORT=
EVM_SEQ_MAXIMUM_BLUEPRINTS_LAG=
EVM_SEQ_MAXIMUM_BLUEPRINTS_AHEAD=
EVM_SEQ_MAXIMUM_BLUEPRINTS_CATCH_UP=
EVM_SEQ_CATCH_UP_COOLDOWN=
EVM_SEQ_GENESIS_TIMESTAMP=
EVM_SEQ_WALLET_DIR=
EVM_SEQ_PASSWORD_FILENAME=
EVM_SEQ_DAL_SLOTS=
