[package]
name = "mir"
version = "0.1.0"
edition = "2021"

[build-dependencies]
lalrpop = "0.22.0"

[dependencies]
lalrpop-util = "0.22.0"
checked = "0.5"
thiserror = "1.0"
logos = "0.14.2"
hex = "0.4"
tezos_data_encoding = { path = "../../sdk/rust/encoding" }
tezos_crypto_rs = { path = "../../sdk/rust/crypto", default-features = false}
tezos-protocol = { path = "../../sdk/rust/protocol" }
tezos-smart-rollup-host = { path = "../../src/kernel_sdk/host" }
typed-arena = "2"
base58 = "0.2"
cryptoxide = "0.4"
num-bigint = { version = "0.4.6", default-features = false }
num-integer = { version = "0.1.46", default-features = false }
num-traits = "0.2"
chrono = { version = "0.4", default-features = false }
integer-sqrt = "0.1"
blst = { version = "0.3", optional = true }
bitvec = "1.0"
strum = "0.26.3"
strum_macros = "0.26.4"
smallvec = { version = "1.11", features = [ "const_new" ] }
serde = { version = "1.0" }
serde_json = "1.0"
nom = { version = "7.1", default-features = false }
regex = "1.11.3"

[features]
default = ["bls", "allow_lazy_storage_transfer"]
bls = ["dep:blst", "tezos_crypto_rs/bls"]
allow_lazy_storage_transfer = []

[dev-dependencies]
proptest = "1.3.1"
regex = "1.11.2"

# Ignore the lint warning on `#![cfg(not(tarpaulin_include))]` which
# is the only non-nightly way to locally disable the tarpaulin
# coverage tool see
# https://github.com/xd009642/tarpaulin?tab=readme-ov-file#ignoring-code-in-files
[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(tarpaulin_include)'] }

[[bin]]
name = "tzt_runner"
path = "tzt_runner/main.rs"

[[bin]]
name = "typecheck_script"
path = "typecheck_script/main.rs"
