[Unit]
Description=Octez agnostic baker service
Documentation=https://octez.tezos.com/docs/
After=network.target

[Service]
Type=simple
Restart=on-failure
TimeoutStartSec=infinity
TimeoutStopSec=300

EnvironmentFile=-/etc/default/octez-node
EnvironmentFile=-/etc/default/octez-baker
WorkingDirectory=~
User=tezos

ExecStartPre=+touch /var/log/tezos/baker.log
ExecStartPre=+chown tezos:tezos /var/log/tezos/baker.log

ExecStart=/bin/sh -c "/usr/bin/octez-baker --base-dir $HOME/.tezos-client run with local node $DATADIR --liquidity-baking-toggle-vote $LQVOTE $RUNTIME_OPTS $BAKING_KEY"

StandardOutput=append:/var/log/tezos/baker.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
