#!/bin/sh

set -e

# shellcheck disable=SC1091
. /usr/share/debconf/confmodule
db_version 2.0

CONF=/var/tezos/.tezos-node/config.json

if [ -e /etc/default/octez-node ]; then
  . /etc/default/octez-node
  CONF="$DATADIR/config.json"
fi

if [ -e "$CONF" ]; then
  network=$(jq -r '.network // "mainnet"' "$CONF")
  db_set octez-node/network "$network"
  history_mode=$(jq -r '.history_mode' "$CONF")
  db_set octez-node/history-mode "$history_mode"
fi

db_input high octez-node/configure || true
# shellcheck disable=SC2119
db_go || true

db_get octez-node/configure
case "$RET" in
false)
  db_input high octez-node/history-mode || true
  # shellcheck disable=SC2119
  db_go || true
  db_input high octez-node/network || true
  # shellcheck disable=SC2119
  db_go || true
  db_input high octez-node/snapshot-import || true
  # shellcheck disable=SC2119
  db_go || true
  db_input medium octez-node/snapshot-no-check || true
  # shellcheck disable=SC2119
  db_go || true
  ;;
*) ;;
esac
