#!/bin/sh

set -e

echoerr() { echo "$@" 1>&2; }

new=${2:-}

# shellcheck disable=SC1091
. /usr/share/debconf/confmodule
db_version 2.0

case "$new" in
"")
  # fresh install
  : nop
  ;;
1:*)
  echoerr "Upgrade from $new"
  if [ -e /etc/default/octez-baker ]; then
    #shellcheck disable=SC1091
    . /etc/default/octez-baker
    db_set octez-agnostic-baker/liquidity-vote "$LQVOTE"
    db_set octez-agnostic-baker/baker-key "$BAKER_KEY"
  fi
  ;;
*)
  if [ -e /etc/octez/agnostic-baker.conf ]; then
    echoerr "Legacy upgrade from $new"
    echoerr "Updating baker configuration from old /etc/octez/agnostic-baker.conf"
    # the values set here in debconf are going to be used in the
    # postinst script to write the /etc/default/ files for this
    # package
    #shellcheck disable=SC1091
    . /etc/octez/agnostic-baker.conf

    if [ -n "${lq_vote:-}" ]; then
      echoerr "set lq_vote=$lq_vote"
      #shellcheck disable=SC2154
      db_set octez-agnostic-baker/liquidity-vote "$lq_vote"
    fi

    if [ -n "${baking_key:-}" ]; then
      echoerr "set baking_key=$baking_key"
      #shellcheck disable=SC2154
      db_set octez-agnostic-baker/baker-key "$baking_key"
    fi

    if [ -n "${dalurl:-}" ]; then
      echoerr "set dalurl=$dalurl"
      if [ "$dalurl" = "" ]; then
        #shellcheck disable=SC2154
        db_set octez-agnostic-baker/dal-node false
      else
        db_set octez-agnostic-baker/dal-node true
        db_set octez-agnostic-baker/dal-node-url "$dalurl"
      fi
    else
      db_set octez-agnostic-baker/dal-node true
    fi

    #shellcheck disable=SC2119
    db_go
  fi
  ;;
esac

db_input high octez-agnostic-baker/liquidity-vote || true
# shellcheck disable=SC2119
db_go || true

db_input medium octez-agnostic-baker/baker-key || true
# shellcheck disable=SC2119
db_go || true

db_input medium octez-agnostic-baker/dal-node || true
# shellcheck disable=SC2119
db_go || true

db_get octez-agnostic-baker/dal-node
if [ "$RET" = "true" ]; then
  db_get octez-agnostic-baker/dal-node-url
  if [ -z "$RET" ]; then
    db_set octez-agnostic-baker/dal-node-url "http://127.0.0.1:10732"
  fi
  db_input low octez-agnostic-baker/dal-node-url || true
  # shellcheck disable=SC2119
  db_go || true
fi
