#!/bin/sh

set -e

# shellcheck disable=SC1091
. /usr/share/debconf/confmodule
db_version 2.0

db_input medium octez-node/configure || true
# shellcheck disable=SC2119
db_go || true

db_get octez-node/configure
case "$RET" in
no)
  db_input medium octez-node/history-mode || true
  # shellcheck disable=SC2119
  db_go || true
  db_input medium octez-node/network || true
  # shellcheck disable=SC2119
  db_go || true
  db_input medium octez-node/snapshot_warning || true
  # shellcheck disable=SC2119
  db_go || true
  ;;
*) ;;
esac
