[Unit]
Description=Octez baker service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
TimeoutStartSec=300
TimeoutStopSec=300

EnvironmentFile=-/etc/default/octez-node
EnvironmentFile=-/etc/default/octez-baker

# The baker is started only if the node is up and running
ExecStartPre=/usr/share/octez-baker/wait-for-node-up.sh

ExecStart=/usr/share/octez-baker/systemd-octez-bakers.sh start
ExecStop=/usr/share/octez-baker/systemd-octez-bakers.sh stop

[Install]
WantedBy=multi-user.target
