[Unit]
Description=Octez accuser
Documentation=https://tezos.gitlab.io/
After=network.target

[Service]
EnvironmentFile=-/etc/default/octez-baker-active
EnvironmentFile=-/etc/default/octez-accuser-active
WorkingDirectory=/var/tezos
Restart=on-failure
User=tezos
ExecStart=/bin/sh -c "/usr/bin/octez-accuser-$PROTOCOL run $RUNTIME_OPTS"
StandardOutput=append:/var/log/tezos/accuser-active.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
