#!/bin/sh

set -e

echoerr() { echo "$@" 1>&2; }

new=${2:-}

# shellcheck disable=SC1091
. /usr/share/debconf/confmodule
db_version 2.0

case "$new" in
"")
  # fresh install
  : nop
  ;;
*)
  echoerr "Upgrade from $new"
  if [ -e /etc/default/octez-baker ]; then
    #shellcheck disable=SC1091
    . /etc/default/octez-baker
    db_set octez-baker/liquidity-vote "$LQVOTE"
    db_set octez-baker/baker-key "$BAKER_KEY"
  fi
  ;;
esac

db_input high octez-baker/liquidity-vote || true
# shellcheck disable=SC2119
db_go || true

db_input medium octez-baker/baker-key || true
# shellcheck disable=SC2119
db_go || true

db_input medium octez-baker/dal-node || true
# shellcheck disable=SC2119
db_go || true

db_input medium octez-baker/agnostic-baker || true
# shellcheck disable=SC2119
db_go || true

db_get octez-baker/dal-node
if [ "$RET" = "true" ]; then
  db_get octez-baker/dal-node-url
  if [ -z "$RET" ]; then
    db_set octez-baker/dal-node-url "http://127.0.0.1:10732"
  fi
  db_input low octez-baker/dal-node-url || true
  # shellcheck disable=SC2119
  db_go || true
fi
