[Unit]
Description=Octez Smart Rollup Node
Documentation=https://tezos.gitlab.io/
After=network.target octez-node.service

[Service]
EnvironmentFile=-/etc/default/octez-smart-rollup-node
WorkingDirectory=~
Restart=on-failure
User=tezos
ExecStart=/usr/bin/octez-smart-rollup-node run $RUNTIME_OPTS

ExecStartPre=+touch /var/log/tezos/smart-rollup-node.log
ExecStartPre=+chown tezos:tezos /var/log/tezos/smart-rollup-node.log

StandardOutput=append:/var/log/tezos/smart-rollup-node.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
