[Unit]
Description=Octez baker umbrella service
After=network.target octez-node.service

[Service]
Type=oneshot
RemainAfterExit=yes

EnvironmentFile=-/etc/default/octez-node
EnvironmentFile=-/etc/default/octez-baker

ExecStart=/usr/share/octez-baker/systemd-octez-bakers.sh start
ExecStop=/usr/share/octez-baker/systemd-octez-bakers.sh stop

[Install]
WantedBy=multi-user.target
