[Unit]
Description=Octez accuser service
Documentation=https://octez.tezos.com/docs/
After=network.target

[Service]
EnvironmentFile=-/etc/default/octez-baker
EnvironmentFile=-/etc/default/octez-accuser
WorkingDirectory=~
Restart=on-failure
User=tezos
ExecStart=/bin/sh -c "/usr/bin/octez-accuser run $RUNTIME_OPTS"

ExecStartPre=+touch /var/log/tezos/accuser.log
ExecStartPre=+chown tezos:tezos /var/log/tezos/accuser.log

StandardOutput=append:/var/log/tezos/accuser.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
