[Unit]
Description=Octez-node
Documentation=https://tezos.gitlab.io/
After=network.target

[Service]
TimeoutSec=600s
EnvironmentFile=-/etc/default/octez-node
WorkingDirectory=~
Restart=on-failure
TimeoutStartSec=infinity
TimeoutSec=1500
User=tezos
ExecStartPre=/usr/share/octez-node/octez-node-prestart.sh
ExecStart=/usr/bin/octez-node run --data-dir $DATADIR --log-output /var/log/tezos/node.log $RUNTIME_OPTS

[Install]
WantedBy=multi-user.target
