#!/bin/sh

set -e

# shellcheck disable=SC1091
. /usr/share/debconf/confmodule
db_version 2.0

export TEZOS_CLIENT_UNSAFE_DISABLE_DISCLAIMER="YES"

# dynamically set the active protocol
PROTOCOLS=$(octez-client --protocol ProtoALphaAL list understood protocols | tee | grep -v "^ProtoALphaAL$" | grep -v "^ProtoGenesis$" | cut -c1-8)
PROTO_CHOICES=$(echo "$PROTOCOLS" | sed ':a;N;$!ba;s/\n/, /g')
PROTO_DEFAULT=$(octez-client rpc get /chains/main/blocks/head/protocols | grep '"protocol"' | sed 's/.*"protocol": "\([^"]*\)".*/\1/' | cut -c1-8)
PROTO_NEXT=$(echo "$PROTOCOLS" | sed ':a;N;$!ba;s/\n/, /g')

db_subst octez-baker/baker-active-protocol choices "$PROTO_CHOICES"
db_subst octez-baker/baker-next-protocol choices "$PROTO_CHOICES, "
db_set octez-baker/baker-active-protocol "$PROTO_DEFAULT"
db_set octez-baker/baker-next-protocol "$PROTO_NEXT"
# shellcheck disable=SC2119
db_go || true

db_input high octez-baker/liquidity-vote || true
# shellcheck disable=SC2119
db_go || true

db_input medium octez-baker/baker-key || true
# shellcheck disable=SC2119
db_go || true

db_input medium octez-baker/baker-active-protocol || true
# shellcheck disable=SC2119
db_go || true

db_input medium octez-baker/baker-next-protocol || true
# shellcheck disable=SC2119
db_go || true
