[Unit]
Description=Octez DAL node
Documentation=https://tezos.gitlab.io/
After=network.target

[Service]
EnvironmentFile=-/etc/default/octez-dal-node
WorkingDirectory=~
Restart=on-failure
User=tezos
ExecStart=/usr/bin/octez-dal-node run $RUNTIME_OPTS
StandardOutput=append:/var/log/tezos/octez-dal-node.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
