[Unit]
Description=Octez-node
Documentation=https://tezos.gitlab.io/
After=network.target

[Service]
EnvironmentFile=-/etc/default/octez-node
User=tezos
WorkingDirectory=~
Restart=on-failure
RestartSec=10s
KillMode=control-group
TimeoutStartSec=30s
TimeoutStopSec=300s

ExecStart=/usr/bin/octez-node run --data-dir $DATADIR --log-output /var/log/tezos/node.log $RUNTIME_OPTS
Slice=octez.slice

[Install]
WantedBy=multi-user.target
