#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	binaries/octez-node --help=groff > manpages/octez-node.1
	binaries/octez-proxy-server --help=groff > manpages/octez-proxy-server.1
	binaries/octez-dal-node --help=groff > manpages/octez-dal-node.1
	dh_auto_build --parallel

override_dh_installman:
	dh_installman
	find binaries/ -name octez-baker-\* -type f -printf "%f\n" | \
		while read bin; \
		do \
			ln -s debian/octez-baker/usr/share/man/man1/octez-baker.1.gz \
			debian/octez-baker/usr/share/man/man1/$$bin.1.gz ; \
		done
	find binaries/ -name octez-accuser-\* -type f -printf "%f\n" | \
		while read bin; \
		do \
			ln -s debian/octez-baker/usr/share/man/man1/octez-accuser.1.gz \
			debian/octez-baker/usr/share/man/man1/$$bin.1.gz ; \
		done

override_dh_installdocs:
	dh_installdocs
	dh_installdocs -p octez-node docs/README.octez-node
	dh_installdocs -p octez-baker docs/README.octez-baker
	dh_installdocs -p octez-signer docs/octez-signer.service
	dh_installdocs -p octez-signer docs/README.octez-signer

override_dh_installsystemd:
	dh_installsystemd -p octez-node --no-enable --no-start
	dh_installsystemd -p octez-smart-rollup-node --no-enable --no-start
	dh_installsystemd -p octez-dal-node --no-enable --no-start
	dh_installsystemd -p octez-baker --no-enable --no-start --name octez-baker-next
	dh_installsystemd -p octez-baker --no-enable --no-start --name octez-baker-active
	dh_installsystemd -p octez-baker --no-enable --no-start --name octez-accuser-next
	dh_installsystemd -p octez-baker --no-enable --no-start --name octez-accuser-active

override_dh_installlogrotate:
	dh_installlogrotate --package=octez-node
	dh_installlogrotate --package=octez-baker

override_dh_install:
	dh_install
	# Include debconf configuration
	mkdir -p debian/octez-baker/etc/default/
	cp debian/octez-baker.octez-accuser-next.default debian/octez-baker/etc/default/octez-accuser-next
	cp debian/octez-baker.octez-accuser-active.default debian/octez-baker/etc/default/octez-accuser-active
	cp debian/octez-baker.octez-baker-next.default debian/octez-baker/etc/default/octez-baker-next
	cp debian/octez-baker.octez-baker-active.default debian/octez-baker/etc/default/octez-baker-active
	dh_installdebconf

override_dh_fixperms:
		dh_fixperms
		chmod 644  debian/octez-baker/etc/default/octez-accuser-next
		chmod 644  debian/octez-baker/etc/default/octez-accuser-active
		chmod 644  debian/octez-baker/etc/default/octez-baker-active
		chmod 644  debian/octez-baker/etc/default/octez-baker-next

# avoid creating debug symbols
override_dh_dwz:

override_dh_strip:
	dh_strip -no-automatic-dbgsym
