# SPDX-FileCopyrightText: 2022-2024 TriliTech <contact@trili.tech>
# SPDX-FileCopyrightText: 2023 Marigold <contact@marigold.dev
#
# SPDX-License-Identifier: MIT

[package]
name = "tezos-smart-rollup-encoding"
version = "0.2.2"
edition = "2021"
license = "MIT"
authors = ["TriliTech <contact@trili.tech>"]
repository = "https://gitlab.com/tezos/tezos.git"
description = "Data Encodings used by Tezos Smart Rollup kernels."
keywords = ["tezos", "smart", "rollup"]
categories = ["no-std", "no-std::no-alloc", "encoding", "wasm"]

[lib]
path = "src/lib.rs"

[dependencies]
nom = { version = "7.1", default-features = false }

num-bigint = { version = "0.4", optional = true, default-features = false }
num-traits = { version = "0.2.8", optional = true }
time = { version = "0.3", features = [
  "formatting",
  "parsing",
], optional = true }
proptest = { version = "1.0", optional = true }
hex = { version = "0.4.3", optional = true }
thiserror = { version = "1.0", optional = true }
regex = { version = "1.4.6", optional = true }
paste = "1.0.6"

[dev-dependencies]
proptest = "1.0"

[dependencies.tezos-smart-rollup-core]
path = "../core"
version = "0.2.2"
default-features = false

[dependencies.tezos-smart-rollup-host]
path = "../host"
version = "0.2.2"
default-features = false

[dependencies.tezos_crypto_rs]
workspace = true
optional = true

[dependencies.tezos_data_encoding]
workspace = true
optional = true

[dependencies.tezos-protocol]
workspace = true
optional = true

[features]
default = ["alloc", "tezos-encoding", "crypto", "bls"]
testing = ["crypto", "num-bigint", "num-traits", "proptest", "tezos-protocol/testing"]
crypto = ["tezos_crypto_rs", "tezos-protocol"]
bls = ["tezos_crypto_rs/bls"]
alloc = ["crypto", "thiserror", "hex", "num-traits", "num-bigint", "regex"]
tezos-encoding = ["dep:tezos_data_encoding", "time"]
proto-alpha = [
  "tezos-smart-rollup-core/proto-alpha",
  "tezos-smart-rollup-host/proto-alpha",
]
