# SPDX-FileCopyrightText: 2023 Functori <contact@functori.com>
#
# SPDX-License-Identifier: MIT

[package]
name = 'evm-evaluation'
version = '0.1.0'
edition = '2021'
license = "MIT"

[dependencies]
thiserror.workspace = true

evm-execution = { workspace = true, features = ["debug"] }
tezos_ethereum.workspace = true
tezos-evm-logging.workspace = true
tezos-smart-rollup-mock.workspace = true
tezos-smart-rollup-host.workspace = true
tezos-smart-rollup-core.workspace = true

hex.workspace = true
hex-literal.workspace = true

bytes = "1.5"
walkdir = "2.4"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
serde_yaml = "0.9.25"
structopt = "0.3.26"
# Overwriting primitive-types from workspace to enable multiple features
primitive-types = { version = "0.12.1", features = ["rlp", "serde"] }
regex = "1.10.2"

[features]
default = ["debug"]
disable-file-logs = []
debug = ["tezos-evm-logging/debug"]
