/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding-left: 2px;
    padding-right: 2px
}

/* Header Styles */
.page-header {
    background: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    font-family: Arial, sans-serif;
}

.page-header h1 {
    margin: 0;
    font-size: 2em;
    color: #1D2227;
}

/* Unordered List Styles */
ul {
    list-style-type: square;
    margin: 10px 0 20px 20px;
    padding: 0;
}

/* List Item Styles */
li {
    margin-bottom: 8px;
}

/* Link Styles */
a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Container for Overall Page */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container h1 {
    color: #0F61FF;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-top: 20px;
}

.container h2 {
    color: #9F329F;
    padding-bottom: 5px;
    margin-top: 20px;
}

.container h3 {
    color: #1D2227;
    padding-bottom: 5px;
    margin-top: 20px;
}

.sha256 {
    font-size: 70%;
    color: #616F82;
}

/* Navbar Styles */

.top-nav {
    background: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}

.nav-root {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-item {
    position: relative;
}

.nav-current {
   background-color: #f9f9f9;
}

.nav-link {
    text-decoration: none;
    color: #1D2227;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

.nav-link:hover {
    background-color: #f9f9f9;
}
